mixin navLink(name)
	li
		a(href="#") #{name}



nav
	.navhead
		.logo
			a(href="/") Malar
		.responsive_toogle_button
			button
				i.fa.fa-bars
	.navbar
		ul
			+navLink('Уроки')
			+navLink('Блог')
			+navLink('О проекте')