mixin navLink(name, active)
	if(!active)
		li
			a(href="#") #{name}
	else
		li.active
			a(href="#") #{name}


nav
	._container
		.navhead
			.logo
				a(href="/") Malar!
			.responsive_toggle_button
				button
					i.fa.fa-bars
		.navbar
			ul
				+navLink('Уроки', true)
				+navLink('Блог')
				+navLink('О проекте')