mixin search-card(h4, p)
	.search-card
		h4
			a(href="#")=h4
		p=p

.search-block
	form.search-form
		input(type="text" placeholder="Малярный поиск...")
		button(type='submit') Поиск
	.search-cards
		+search-card('Урок 10 Штрих', 'рассмотрели это на практике и попробовали нарисовать простой натюрморт, освещенный')
		+search-card('Урок 10 Штрих', 'рассмотрели это на практике и попробовали нарисовать простой натюрморт, освещенный')
		+search-card('Урок 10 Штрих', 'рассмотрели это на практике и попробовали нарисовать простой натюрморт, освещенный')
		+search-card('Урок 10 Штрих', 'рассмотрели это на практике и попробовали нарисовать простой натюрморт, освещенный')