.social-side
	ul
		li
			a(href="#")
				i.fa.fa-vk
		li
			a(href="#")
				i.fa.fa-instagram
		li
			a(href="#")
				i.fa.fa-twitter
		li
			a(href="#")
				i.fa.fa-tumblr
	ul.helper-side
		li.search
			a(href="#")
				i.fa.fa-search
		li.to-top
			a(href="#")
				i.fa.fa-arrow-up