mixin thumbnail(imgSrc, headTxt, prevTxt)
	.thumbnail
		a(href='#').img
			img(src=imgSrc)
			.hover
		ul.tags
			li
				a(href="#") Секс с животными
			li
				a(href="#") Анальный петтинг
			li
				a(href="#") Лесбиянки
		h3
			a(href="#") #{headTxt}
		p.prevTxt=prevTxt
		p.date Вчера 23:40



section.thumbs
	+thumbnail('img/thumb1.png', 'Точка. Линия. Круг. Квадрат', 'Книги и фильмы для детей и взрослых, оставившие борозду на вашей нежной детской психике.')
	+thumbnail('img/thumb1.png', 'Рембрандт и его дикая живопись', '«Другая Россия» отправляется на юг России и в новом эпизоде проекта рассказывает о самой тихой кавказской столице — Майкопе.')
	+thumbnail('img/thumb1.png', 'Наброски карандашом', 'Бывший член панк-группы с сардоническим описанием жизненного цикла любой панк-группы. За мелкими исключениями справедливо для рок-группы, поп-группы и сорокалетних диджеев, скачучщих за пультом в провинциальных домах культуры.')
	+thumbnail('img/thumb1.png', 'Свет и тень в примерах', 'Коля Сулима про тонкости половой жизни, о которых вам еще предстоит узнать.')
	+thumbnail('img/thumb1.png', 'Обзор книги 1000 artist journal pages', 'Первое, что нужно сделать это достать.')
	+thumbnail('img/thumb1.png', 'Обретай дзен и рисуй одновременно', 'Первое, что нужно сделать это достать что-нибудь пишущее. И лист бумаги. Все — ты рисуешь!')
	+thumbnail('img/thumb1.png', 'Что такое визирование', 'Первое, что нужно сделать это достать что-нибудь пишущее. И лист бумаги. Все — ты рисуешь!')
	+thumbnail('img/thumb1.png', 'Свет и тень в примерах', 'Первое, что нужно сделать это достать что-нибудь пишущее. И лист бумаги. Все — ты рисуешь!')