// Main
RED_LOGO = #FF5555	//Color of logo in nav block

// Elements
BC1 = #DCDCDC	//Background color light
BC2 = #5A5A5A	//Background color black

TCL = #6d6d6d	//Text color light
TCD = #3D3D3D	//Text color dark
TCB = #1A1A1A	//Text color black