@import 'kouto-swiss'

normalize()

// Helpers import
@import './helper/colors.styl'

@import './blocks/nav.styl'
@import './blocks/thumbs.styl'
@import './blocks/footer.styl'
@import './blocks/pagination.styl'
@import './blocks/post.styl'
@import './blocks/404.styl'
@import './blocks/slider.styl'
@import './blocks/social-side.styl'