footer
	gs('fluid')
	border 1px solid BC1
	margin-top em(40)
	.footer-social-buttons
		list-style-type none
		padding 0
		margin em(20) 0 em(10)
		text-align center
		li
			display inline-block
			padding 0 em(5)
			a
				color white
				background-color RED_LOGO
				border-radius 50%
				font-size em(21)
				width em(30)
				display block
				line-height em(30)
				text-align center
				transition-property background-color color
				transition 0.17s ease-in 0.09s
			a:hover
				background-color BC1
				color TCD
	.social-p
		font-family Open-Sans, sans-serif
		font-size em(14)
		color TCL
		font-style italic
		text-align center