body
	padding-top em(40)

nav
	font-family Open Sans, sans-serif
	border-bottom 1px solid BC1
	background-color rgba(255, 255, 255, 0.97)
	position fixed
	top 0
	width 100%
	z-index 100000
	._container
		gs('fluid')
	.navhead
		clerfix()
		padding em(0) em(5)
	.logo
		col(6)
		a
			text-decoration none
			font-weight bold
			text-transform uppercase
			color RED_LOGO
			font-size em(38)
			line-height em(27)
			margin 0
			padding 0
	.responsive_toggle_button
		col(6)
		text-align right
		padding em(11.5) 0
		button
			font-size em(38)
			border none
			outline none
			line-height 1
			background-color #fff
	.navbar
		display none
		ul
			list-style-type none
		li
			text-align center
		a
			text-decoration none
			color #6D6D6D
			display block
			font-weight 600
			line-height 3
			font-size em(14)
			text-transform uppercase
			width 30%
			margin 0 auto
			transition border-bottom-width 0.17s ease-in 0.1s
		li.active
			a
				border-bottom 2px solid RED_LOGO
		a:hover
			border-bottom 2px solid RED_LOGO

+media-query( all, min-width 960px )
	nav
		._container
			gs('fixed')
		.logo
			col(3)
		.responsive_toggle_button
			display none
		.navbar
			display block
			col(8.9)
			text-align right
			ul
				margin 0
				padding 0
			li
				display inline-block
				margin 0 em(10)
				padding em(10)
			a
				margin 0
				padding 0
				text-align center
				width 100%
			li:last-child
				margin 0 0 0 em(10)