.pagination
	list-style-type none
	padding em(30) 0
	margin em(5) 0
	text-align center
	li
		display inline-block
		padding 0 em(10)
	a
		font-size em(19)
		text-decoration none
		display block
		line-height em(30)
		width em(30)
		border-radius 50%
		transition-property background-color color font-size
		transition 0.17s ease-in 0.04s
	a:hover
		background-color RED_LOGO
		color white
	li.active
		a
			border 1px solid BC1