.paper
	gs('fluid')
	font-family Open Sans, sans-serif
	img
		max-width 100%
		display block
		margin 0 auto
		max-height 400px
	.paper_header
		col(12)
		h1
			font-size em(32)
			line-height em(18)
	.paper_body
		col(12)
		a
			text-decoration none
			color RED_LOGO
			font-weight 600
		a:hover
			text-decoration underline
		blockquote
			margin 0 0 0 em(20)
			border-right 4px solid TCB
			text-align right
			color TCD
			font-style italic
			p
				padding em(5) em(10) em(5) 0
				font-weight 300
				font-size em(16)
			p.blockquote_author
				font-weight 600
				font-size em(14)
				padding-bottom em(10)
		p
			margin em(10) 0
			padding em(5) 0
			font-size em(17)
			line-height em(22)
		strong
			font-weight 700
		ul
			padding em(5) 0 em(5) rem(35)
			li
				margin em(5) 0
				padding em(2) 0

+media-query( all, min-width 960px )
	.paper
		gs('fixed')
		.paper_header
			h1
				font-size em(48)
		.paper_body
			col(12)