.social-side
	display none

+media-query(all, min-width 960px)
	.social-side
		position fixed
		display block
		top 30%
		ul
			list-style-type none
			margin 0
			padding 0 em(10)
			border-top-right-radius em(8)
			border-bottom-right-radius em(8)
			border-left none
			background-color rgba(255,255,255, 0.3)
		li:first-child
			padding-top em(10)
		li
			padding-bottom em(10)
		ul.helper-side
			margin-top em(25)
		li.search, li.to-top
			a
				background-color BC2
				color #F3F3F3
		a
			line-height em(30)
			width em(30)
			background-color RED_LOGO
			border-radius 50%
			display block
			text-align center
			font-size em(24)
			color white
			t-anim( box-shadow )
		a:hover
			box-shadow 4px 4px 5px BC1